<a (click)="goBack()">Powrót</a>

<div *ngIf="user">
  {{ user.firstName }} {{ user.lastName }}
  {{ user.status | status }}
  <!-- <span *ngIf="user.status === Status.ACTIVE">
    Aktywny
  </span> -->
  {{ transform(user.status) }}
</div>
<div *ngIf="!user">
  loading...
</div>