<!-- Trzeba dodać do app module ReactiveFormsModule -->
<form [formGroup]="userForm">
  <div class="form-group">
    <div class="label">Imię</div>
    <input type="text" name="firstName" id="firstName" formControlName="firstName">
  </div>
  <div class="form-group">
    <div class="label">Nazwisko</div>
    <input type="text" name="firstName" id="firstName" formControlName="lastName">
  </div>
  <div class="form-group">
    <div class="label">Xyz</div>
    <input type="text" name="xyz" id="xyz" formControlName="xyz">
  </div>
</form>

<button (click)="save()">Zapisz</button>