<p>user-list works!</p>

<button (click)="addUser()">Dodaj nowego użytkownika</button>

<div *ngFor="let user of users" class="user-box">
  {{ user.firstName }} {{ user.lastName }} 
  <a (click)="goToDetails(user.id)">Szczegóły</a>
</div>